@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.table-header {
  /* Use Tailwind CSS utility class for blue background color */
  background-color: #00667a; /* Fallback color for older browsers */
  background-color: #4cabc1; /* Actual color with alpha channel */
  color: white; /* Text color */
}
